
.merriweather-normal {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}
/* css styles */
.text-center{
    text-align: center;
}



/* banner styles */
.banner-section{
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    border-radius: 16px;
    margin: 0 auto;
    max-width: 1320px;
    
    
}

.banner-greetings{
    font-size: 32px;
    color: #ffffff;
}
.banner-title{
    font-size: 72px;
    color: #ffffff;
    font-weight: 900;
    margin-top: 16px;
}
.banner-content{
    text-align: center;
    padding: 170px 340px;
}
/* discount section styles*/
.discount-section{
     max-width: 800px;
    
    margin: 0 398px 120px 399px ;
    
    
}

.discount-image{
    width: 100%;
}
.discount-title{
    color: #FF0000;
    font-size: 88px;
    font-weight: bold;
    margin-bottom: 48px;
    
}
.discount-sub-title{
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
    
    
}
.discount-categories{
    font-size: 48px;
    font-weight: bold;
    color: #070211;
    margin-top: 0px;
}
